
:host {
    width: 100%;
    display: block;
}

.content-area {
    // max-width: 1200px;
    // padding-right: 5em;
    // padding-left: 5em;
    background-color: white;
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(var(--html-height) - (var(--nav-height) + var(--nav-height))  - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    // height: 100vh;
}

.content-area.large-screen {
    // height: calc(var(--html-height) - var(--nav-height) * 1.2 - env(safe-area-inset-bottom));
    height: calc(var(--html-height) - var(--nav-height) - env(safe-area-inset-bottom));
}