.thanks {
    font-size: 1.7em;
    font-weight: 700;
    color: var(--secondary-color);
    display: flex;
    margin-bottom: 3em;
}

.signup-success-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    height: 3em;
    padding: 1em 1em 1em 1em;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--secondary-color);
    background-color: inherit;
    border-radius: 0.5em;
    color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
    font-weight: 900;
    
}