<!-- *ngIf="showPhoneAndNameField"
    [@fadeInOut]="{ value: '', params: { time: '1s' } }"
    (@fadeInOut.done)="fieldSwitched($event)" -->

    <!-- *ngIf="showVerificationField"
    [@fadeInOut]="{ value: '', params: { time: '1s' } }"
    (@fadeInOut.done)="fieldSwitched($event)" -->


<app-flex-container class="login-container" *ngIf="authChecked && !authenticated">
  <div class="form-container" 
  *ngIf="showPhoneAndNameField"
  [@fadeInOut]="{ value: '', params: { time: '0.3s' } }"
    >
    <form [formGroup]="form" (ngSubmit)="requestVerification(true)">
      
        <div class="input-row"> 
          <label for="name">이름</label>
          <input class="text-input" id="name" type="text" formControlName="name">
        </div>
        <div class="input-row">
          <label for="phone">미국전화번호</label>
          <input class="text-input" id="phone" type="tel" formControlName="phone">
        </div>
        <div class="input-row">
          <button type="submit" [disabled]="!form.valid || requestSent">
            인증번호요청
          </button>
        </div>
    </form>
  </div>
    
 
  <div class="form-container" 
  *ngIf="showVerificationField && countdown != null"
    [@fadeInOut]="{ value: '', params: { time: '0.3s' } }"
    >
      
      <div class="input-row">
        <label for="name">인증번호 입력</label>
      </div>
      <div class="countdown-container">
        {{countdown}}
      </div>
      <code-input [isCodeHidden]="false" class="code-input"
        [codeLength]="6"
        (codeChanged)="onCodeChanged($event)"
        (codeCompleted)="onCodeCompleted($event)">
      </code-input>

      <div class="input-row">
        <div class="request-verification-again" (click)="requestVerification(false)">
          인증번호 재요청
        </div>
      </div>
      
      <div class="input-row">
        <button [disabled]="code.length < 6 || requestSent" (click)="sendVerification()">
          인증 및 로그인
        </button>
      </div>
    
  </div>
</app-flex-container>

<!-- (input)="onInputChange($event, i)"
      (keydown)="onKeydown($event, i)" -->