.calendar-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0.75em;
    max-width: 600px;
    margin: auto;
}

.calendar-area {
    margin-bottom: 1em;
}

.add-button {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 1em;
    font-weight:500;
}

.input-row {
    margin-bottom: 0.5em;
    
}

input[type="checkbox"] {
    visibility: hidden;
}

input {
    outline: none;
    border: 2px solid var(--secondary-color);
    box-shadow: none;
}