.bulletin-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0.5em 0.5em 0.5em 0.5em;
    padding: 0 0 0 0;
}

.bulletin-item {
    width: 100%;
    display:flex;
    padding: 0 1em 0 1em;
    // border: 2px solid var(--primary-color);
    border-bottom: 1px solid #ddd;
    // border-radius: 0.5em;
    background-color: white;
    height: 7em;

}

.date-area {
    display: flex;
    flex: 0 0 30%;
    justify-content: flex-end;
    align-items: center;
    color: var(--primary-color);
    .date {
        text-align: center;
    }
}

.date {
    display: flex
}

.title-area {
    display: flex;
    flex: 0 0 55%;
    font-size: 1.1em;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
    padding: 0 0 0 0.5em;
}

.title {
    display: flex;
}

.photo-area {
    display: flex;
    flex: 0 0 15%;
    justify-content: flex-start;
    align-items: center;
}

.photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.bulletin-item:focus {
    outline: none;
}


.list-area {
    margin: auto;
}