<ng-container *ngIf="(updateService.updating$ | async)">
    <app-loading-screen message="조금만 기다려주세요" loadingScreenHeight="var(--html-height)" topMargin="0"></app-loading-screen>
</ng-container>

<div class="updates-container" *ngIf="updateData">
    <div class="update-description-area">
        <div class="update-title">
            <h2><span style="margin-right:0.5em">{{updateData.date}}</span>패치노트</h2>
        </div>
        <div class="ql-editor" [innerHTML]="updateData.description">

        </div>
    </div>
    <div class="update-button-area">
        <div class="update-button" (click)="startUpdate()">
            알겠습니다
        </div>
    </div>
</div>
