<mat-toolbar class="web-toolbar" >
    <div fxLayout="row" fxLayoutAlign="start center">
        <!-- <img fxHide.gt-sm src="assets/his-logo-white.png" alt="Logo" class="logo" fxFlex /> -->
        <img src="assets/his-logo-white.png" alt="Logo" class="mobile-logo" fxFlex fxHide.gt-sm/>
    </div>
    <div class="container nav-container">
        
        <div fxHide.lt-md>
            <button mat-button routerLink="/">Home</button>
            <button mat-button routerLink="/verses">Verses</button>
            <button mat-button routerLink="/small_group">Small Group</button>
            <button mat-button routerLink="/ministries">Ministries</button>
            <button mat-button routerLink="/offering">Offerings</button>
        </div>
        
    </div>
</mat-toolbar>

<mat-toolbar color="white" class="mobile-toolbar" fxHide.gt-sm>
    <ng-container *ngFor="let navItem of mobileNavItems">

        <div class="mobile-toolbar-spacer"></div>
            
            <!-- <a mat-icon-button 
                [routerLink]="navItem.route" 
                [matTooltip]="navItem.tooltip"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}"
            >
            <div 
                class="icon-wrapper" 
                routerLinkActive #rla="routerLinkActive"
                [ngClass]="{'active-link': rla.isActive}"
            >   -->
            <a mat-icon-button 
                [routerLink]="navItem.route" 
                [matTooltip]="navItem.tooltip"
            >
            <div 
                class="icon-wrapper" 
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}"
            >  
                <mat-icon>{{ navItem.icon }}</mat-icon>
                <div class="icon-label">{{ navItem.label }}</div>
                </div>
            </a>
        <div class="mobile-toolbar-spacer"></div>
    </ng-container>
</mat-toolbar>
  