<app-loading-screen *ngIf="(searchService.searching$ | async)"></app-loading-screen>

<div class="search-input-and-button-area">
    <div class="search-button-area">
        <div class="dropdown" [ngClass]="{'open':dropDownOpen}">
            <div class="dropdown-item" *ngFor="let option of searchOptions; let i = index" (click)="changeSearchOption(i)">
                {{option.name}}
            </div>
        </div>
        <div class="search-button" (click)="toggleDropdown()">
            <mat-icon>arrow_drop_down</mat-icon>
            <div class="search-type">{{searchOptions[selectedSearchOption].name}}</div>
        </div>
    </div>
    <div class="search-input-area">
        <mat-icon (click)="search(selectedSearchOption, searchString)">search</mat-icon>
        <input class="search-input" [(ngModel)]="searchString" (keyup.enter)="search(selectedSearchOption, searchString)"/>
    </div>
</div>
<div class="line"></div>

<ng-container *ngIf="(searchService.searchLength$ | async) as length ; else noSearch">
    <div class="search-page" *ngIf="length > 0">
        <div class="section-area" *ngIf="(searchService.eventSearchResults$ | async)?.data as events">
            <div class="section-title" *ngIf="events.length > 0">
                이벤트
            </div>
            <div class="list-area">
                <div *ngFor="let d of events" class="event-item-container">
                    <div class="event-item" [routerLink]="['/calendar',eventService.getSimpleDateStr(d.start)]">
                        <div class="event-title-area">
                            <div class="event-title">
                                {{d.title}}
                            </div>
                        </div>
                        <div class="event-date-area">
                            <div class="event-date">
                                {{eventService.getSimpleDateStr(d.start)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-area" *ngIf="(searchService.bulletinSearchResults$ | async)?.data as bulletins">
            <div class="section-title" *ngIf="bulletins.length > 0">
                주보 검색결과
            </div>
            <div class="list-area">
                <div *ngFor="let bulletin of bulletins; let first=first; let last=last" class="bulletin-item-container">
                    <div class="bulletin-item" [routerLink]="['/bulletin',bulletin.sunday_date]" [ngClass]="{'first':first, 'last':last}">
                        <div class="left">
                            <div class="photo-area">
                                <div class="photo-container">
                                    <img [src]="getPastorImageLink(bulletin.message)" class="photo"/>
                                </div>
                            </div>
                            <div class="title-area">
                                <div class="title">
                                    {{bulletinService.pruneTitle(bulletin.sermon_title)}}
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="date-area">
                                <div class="date">
                                    {{bulletin.sunday_date}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-area" *ngIf="(searchService.videoSearchResults$ | async)?.data as videos">
            <div class="section-title" *ngIf="videos.length > 0">
                예배 검색결과
            </div>
            <div class="list-area" >
                <div *ngFor="let video of videos" 
                    class="video-item"
                    [routerLink]="['/videos', video.video_id]">
                    <div class="img-container">
                        <img [src]="video.thumbnail_url"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noSearch>
    <div class="no-search" *ngIf="searchedOnce; else notYetSearched">
        <img src="assets/church-icons/no-search.png" class="no-search-img">
    </div>
</ng-template>
<ng-template #notYetSearched>
    <div class="no-search">

    </div>
</ng-template>



