.search-page{
    padding-bottom: 3em;
    max-width: 600px;
    margin: auto;
}


.section-title {
    font-size: x-large;
    font-weight: 900;
    margin-top: 1.5em;
    color: var(--secondary-color);
    // margin: 2em 1em 2em 1em;
    margin: auto;
    padding: 0 0.5em 0 0.5em;
    margin: 2em 0 2em 0;
    
}

.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-item:focus {
    outline: none;
}


.img-container {
    width: 95%;
    height: 0;
    padding-bottom: 53%;
    position:relative;
    overflow:hidden;
    border-radius: 0.5em;
    margin-top: 1em;
    display: flex;
    // border: 2px solid var(--secondary-color);
}

.img-container img {
    position: absolute;
    top: -17%;
    left: 0;
    width: 100%;
    height: auto;
}

.list-area {
    max-width: 600px;
    margin: auto;
}

.bulletin-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.bulletin-item {
    width: 100%;
    display:flex;
    padding: 0 1em 0 1em;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5em;
    background-color: white;
    height: 6em;
    justify-content: space-between;
}

.event-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.event-item {
    width: 100%;
    display:flex;
    padding: 0 1em 0 1em;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5em;
    background-color: white;
    height: 6em;
}

.event-date-area {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: center;
    color: var(--secondary-color);
    .event-date {
        text-align: right;
    }
}

.event-date {
    display: flex
}

.event-title-area {
    display: flex;
    flex: 0 0 50%;
    font-size: 1.1em;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    color: var(--secondary-color);
}

.event-title {
    display: flex;
}

.member-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    // border-bottom: 2px solid var(--secondary-color);
}

// .member-item-container:last-child {
//     border-bottom: 0 solid transparent;
// }

.member-item {
    width: 100%;
    display:flex;
    padding: 0 1em 0 1em;
    background-color: white;
    height: 5em;
    justify-content: space-between;
}

.member-room-area {
    display: flex;
    // flex: 0 0 50%;
    // justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-name-area {
    display: flex;
   
    font-size: 1.1em;
    font-weight: 700;
    // flex: 0 0 40%;
    // justify-content: flex-start;
    align-items: center;
    color: var(--secondary-color);
    padding: 0 0 0 0.5em;
}

.member-name{
    display: flex;
}


.date-area {
    display: flex;
    // flex: 0 0 35%;
    // justify-content: flex-end;
    align-items: center;
    color: var(--secondary-color);
    .date {
        text-align: center;
    }
}

.date {
    display: flex
}

.title-area {
    display: flex;
    // flex: 0 0 55%;
    // justify-content: flex-start;
    font-size: 1.1em;
    font-weight: 700;
    
    align-items: center;
    color: var(--secondary-color);
    padding: 0 0 0 0.5em;
}

.title {
    display: flex;
}

.photo-area {
    display: flex;
    // flex: 0 0 10%;
    // justify-content: flex-start;
    align-items: center;
}

.photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.bulletin-item:focus {
    outline: none;
}


// .list-area {
//     overflow:auto;
//     -webkit-overflow-scrolling:touch;
//     height: var(--html-height);
// }
.no-search {
    display:flex;
    height: calc(var(--html-height) - var(--nav-height) * 2);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.no-search-img {
    width: 50%;
    max-width: 200px;
}