<div class="message">
    온라인 헌금 페이지로 이동합니다.
</div>
<app-card 
    (click)="modalService.closeAlertModal()"
    href="https://secure.subsplash.com/ui/access/HGNHKR"
    height="3em"
    borderColor="var(--secondary-color)"
    borderWidth="2px"
    textColor="var(--secondary-color)">
    예, 알겠습니다.
</app-card>
<app-card 
    (click)="modalService.closeAlertModal(); modalService.openModal(offeringComponent, '헌금 안내')"
    height="3em"
    borderColor="var(--secondary-color)"
    borderWidth="2px"
    textColor="var(--secondary-color)">
    다른 방법 보기
</app-card>

