<!-- <div *ngIf="smallGroupNote" class="small-group-note-area" [innerHTML]="getTrustedHtml(smallGroupNote.html_template_data.html_string)">

</div> -->
<div *ngIf="smallGroupNote" class="small-group-note-area">
    <app-small-group-json-parse 
        [data]="smallGroupNote.html_template_data.template"
        [inputs]="smallGroupNote.html_template_data.inputs">
    </app-small-group-json-parse>
</div>
<div style="display:flex; justify-content: center; align-items: center;">
    <button (click)="getFilledInput()">getInput</button>
</div>