
<ng-container *ngIf="!routingService.isRootAdminRoute(); else root">
    <router-outlet></router-outlet>
</ng-container>
<ng-template #root>
    <app-admin-top-navbar title="히즈리더사역방" profileImage="">
        <span routerLink="/" (click)="routingService.showLoadingScreenForTime(2)"><mat-icon>home_outline</mat-icon></span>
    </app-admin-top-navbar>
    <app-admin-content-area>
        <div class="admin-home-container" *ngIf="userRoles">
            <div class="user-role-container">
                <span class="required">* </span> <span>{{personService.getKoreanGroupNamesStr(userRoles)}} 전용 기능들입니다</span> 
            </div>
            <div class="admin-link-container">
                <div class="admin-link-item-wrapper" *ngIf="isAmongRoles(['/media-team','/pastor','/inland-his-admin'])" (click)="routingService.showLoadingScreenForTime(1)" routerLink="/admin/bulletins">
                    <div class="admin-link-item">
                        주보 관리
                    </div>     
                </div>
                <div class="admin-link-item-wrapper" *ngIf="isAmongRoles(['/media-team/leader','/welcome-team/leader','/praise-team/leader','/campus-team/leader','/inland-his-admin'])" (click)="routingService.showLoadingScreenForTime(1)" routerLink="/admin/assign-team-member">
                    <div class="admin-link-item">
                        사역팀 배정
                    </div> 
                </div>
                <div class="admin-link-item-wrapper" *ngIf="isAmongRoles(['/welcome-team','/inland-his-admin'])" (click)="routingService.showLoadingScreenForTime(1)" routerLink="/admin/small-group">
                    <div class="admin-link-item">
                        셀멤버 배정
                    </div> 
                </div>
                <div class="admin-link-item-wrapper"  (click)="routingService.showLoadingScreenForTime(1)" routerLink="/admin/calendar">
                    <div class="admin-link-item">
                        캘린더
                    </div> 
                </div>
                <div class="admin-link-item-wrapper" *ngIf="isAmongRoles(['/welcome-team','/inland-his-admin'])" (click)="routingService.showLoadingScreenForTime(1)" routerLink="/admin/admit-members">
                    <div class="admin-link-item">
                        새신자 수락
                    </div>  
                </div>
                <div class="admin-link-item-wrapper" *ngIf="isAmongRoles(['/welcome-team', '/pastor', 'cell-leader','/inland-his-admin'])" (click)="routingService.showLoadingScreenForTime(1)" routerLink="/admin/member-contact">
                    <div class="admin-link-item">
                        셀멤버 연락처
                    </div>  
                </div>
            </div>
        </div>
    </app-admin-content-area>
</ng-template>

