<mat-toolbar color="white" class="mobile-toolbar" fxHide.gt-sm >
    <div class="mobile-toolbar-spacer"></div>
            
        <a mat-icon-button appPreventContextMenu
            [routerLink]="'/'">
            <div class="icon-wrapper" 
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <app-logo-svg style="height:38px; width: 38px;"></app-logo-svg>
            </div>
        </a>

        <div class="mobile-toolbar-spacer"></div>
    <ng-container *ngFor="let navItem of mobileNavItems">

        <div class="mobile-toolbar-spacer"></div>
            
        <a mat-icon-button appPreventContextMenu
            [routerLink]="navItem.route" 
            [matTooltip]="navItem.tooltip">
            <div 
                class="icon-wrapper" 
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">  
                <mat-icon>{{ navItem.icon }}</mat-icon>
                <div class="icon-label">{{ navItem.label }}</div>
            </div>
        </a>
        <div class="mobile-toolbar-spacer"></div>
    </ng-container>
</mat-toolbar>
  