<div 
    (mouseenter)="isHovered = true;"
    (mouseleave)="isHovered = false"

    [ngStyle]="{
        'height':height,
        'box-shadow':boxShadow,
        'border-radius':borderRadius,
        'margin-left':marginLeft,
        'margin-right':marginRight,
        'margin-top':marginTop,
        'margin-bottom':marginBottom,
        'border-color': borderColor,
        'border-style': 'solid',
        'border-width': '1px',
        'background-color': isHovered ? hoveredBackgroundColor : backgroundColor,
        'align-items':alignItems,
        'justify-content':justifyContent,
        'display':display}">
    <ng-content></ng-content>
</div>
