<!-- 
<div 
    (mouseenter)="isHovered = true;"
    (mouseleave)="isHovered = false;"
    (click)="openLink(href)"
   
    
    [ngStyle]="{
        'height':height,
        'box-shadow':boxShadow,
        'border-radius':borderRadius,
        'margin-left':marginLeft,
        'margin-right':marginRight,
        'margin-top':marginTop,
        'margin-bottom':marginBottom,
        'border-color': borderColor,
        'border-style': 'solid',
        'border-width': '1px',
        'background-color': screenSizeClass === 'large-screen' ? isHovered ? hoveredBackgroundColor : backgroundColor : backgroundColor,
        'align-items':alignItems,
        'justify-content':justifyContent,
        'display':display}">
    <ng-content></ng-content>
</div> -->

<a [href]="href" target="_blank" rel="noopener noreferrer">
    <div 
    (mouseenter)="isHovered = true;"
    (mouseleave)="isHovered = false;"
    (click)="disableIfHrefEmpty($event)"
    [ngStyle]="{
        'height':height,
        'width':width,
        'box-shadow':boxShadow,
        'border-radius':borderRadius,
        'margin-left':marginLeft,
        'margin-right':marginRight,
        'margin-top':marginTop,
        'margin-bottom':marginBottom,
        'border-color': borderColor,
        'border-style': 'solid',
        'border-width': '1px',
        'background-color': screenSizeClass === 'large-screen'  && !disableHoverEffect ? isHovered ? hoveredBackgroundColor : backgroundColor : backgroundColor,
        'align-items':alignItems,
        'justify-content':justifyContent,
        'display':display,
        'padding':padding}">
    <ng-content></ng-content>
</div>
</a> 

