:host {
    display: flex;
    width: 100%;
    height: calc(var(--html-height) - 50px);
    flex-direction: column;
}

.login-button {
    width: 100%;
    height: calc(var(--html-height) - 2 * var(--nav-height));
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

.user-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.profile-area {

    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin-top: 3em;
    margin-bottom: 2em;
    
}

// .role-label::after {
//     content: ","
// }

// .role-label:last-child::after {
//     content: none;
// }



.profile-container {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: var(--secondary-color);
    border-width: 2.5px;
    border-style: solid;
    margin: auto;
    position: absolute;
    left: calc( 50% - 100px);
}



.profile-image {
    display: flex;
    width: calc(200px - 1em);
    height: calc(200px - 1em);
    border-radius: 50%;
}

.name-area {
    display: flex;
    position: relative;
    text-align: center;
    color: var(--secondary-color);
    height: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 2em;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.info-area {
    display:flex;
    position: relative;
    height: 200px;
    // height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    padding: 1em;
    margin-bottom: 2em;
    max-width: 600px;
    margin: auto;
    width: 100%;
}


// .info-area-name {
//     font-size: 2em;
//     font-weight: 700;
//     margin-bottom: 0.5em ;
//     text-align: center;
//     color: var(--secondary-color);
//     position: relative;
// }

.info-area-role {
    font-size: 1.2em;
    font-weight: 700;
}

.info-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    // background-color: var(--secondary-color);
    background-color: white;
    color: var(--secondary-color);
    // color: white;
    border: 2.5px solid var(--secondary-color);
}

.info-container-border-styler {
    width: calc(100% - 0.5em);
    height: calc(100% - 0.5em);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    // color: white;
    // border: 3px dashed white;
    border: 2.5px solid var(--secondary-color);
}

.info-wrapper {
    text-align: center;
}

button.profile-button {
    width: 60px;
    height: 60px !important;
    border-radius: 50% !important;
    display: flex;
    margin: auto;
    height: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
    position: absolute;
    left: calc(50% + 40px);
    bottom: 0;
    z-index: 1;
    background-color: white;
}

button {
    height: 4.5em;
    padding: 1em 1em 1em 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--secondary-color);
    background-color: inherit;
    border-radius: 1em;
    color: var(--secondary-color);
    border-width: 2.5px;
    border-style: solid;
    font-weight: 900;
    margin: 0 1em 2em 1em;
    max-width: 600px;
    
}

.button-area {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.admin-link {
    // border: 2.5px solid white;
    border: 2.5px solid var(--secondary-color);
    border-radius: 0.75em;
    padding: 0.5em;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info-empty {
    height: 100px;
}