<app-admin-top-navbar [title]="currentSmallGroupName | async">
    <span routerLink="/admin/small-group" (click)="routingService.showLoadingScreenForTime(1)"><mat-icon>arrow_back</mat-icon></span>
</app-admin-top-navbar>
<app-admin-content-area>
    <div class="person-search-container" *ngIf="currentSmallGroup">
        <div class="group-container" >
            <div class="group-info" >
                <span class="small-group-name">
                    {{currentSmallGroup.name}}
                </span>
                <span class="small-group-room">
                    <input class="input-group-room" [(ngModel)]="currentSmallGroup.room" placeholder="장소"/>
                </span>
            </div>
            <div class="group-members">
                    <div class="member-item-wrapper" *ngFor="let member of currentSmallGroup.members">
                        <div class="member-item" *ngIf="usersProfiles && member">
                            <img class="profile-image" [src]="smallGroupService.getProfilePhoto(member.id, usersProfiles)">
                            <span class="member-name">{{member.name}}</span>
                        </div>
                        <div class="member-buttons" *ngIf="usersProfiles && member">
                            <button class="is-leader-button" (click)="toggleLeader(member)" [ngStyle]="{
                                'background-color':member.is_leader ? 'var(--secondary-color)':'white',
                                'color':member.is_leader ? 'white':'var(--primary-color)',
                            }">
                                <ng-container *ngIf="member.is_leader; else notLeader">
                                    리더 <mat-icon class="icon">done_outline</mat-icon>
                                </ng-container>
                                <ng-template #notLeader>
                                    멤버
                                </ng-template>
                            </button>
                            <button class="remove-button" (click)="removeFromSmallGroup(member)">
                                빼기
                            </button>
                        </div>
                    </div>
            </div>
            <div class="group-button-area">
                <button (click)="submitSmallGroupUpdate()" class="group-button">저장 및 업데이트</button>
            </div>
        </div>
        <input [(ngModel)]="searchKey" (keyup)="performSearch()" 
            class="input-member-search"
            placeholder="추가하고싶은 멤버를 검색해주세요"/>
        <div class="search-container" *ngIf="users && usersProfiles && currentSmallGroup">
            <ng-container *ngFor="let user of searchedUsers; let i = index">
                <div class="searched-user"  [ngStyle]="{
                    'opacity':user.small_group_id === null ? '1':'0.3'
                }">
                    <div class="left">
                        <img class="profile-image" height="40" width="40" [src]="getUserProfile(user)"/>
                        {{getUserName(user)}} 
                    </div>
                    <div class="right">
                        {{(smallGroupIdNameMap | async)[user.small_group_id]}}
                        <button class="member-add-button" *ngIf="user.small_group_id === null" (click)="addToSmallGroup(user)">추가</button>
                    </div>
                </div>
            </ng-container>
            
            <!-- <div class="add-button" (click)="createForm()">
                <mat-icon class="add-icon">add_circle</mat-icon>
            </div> -->
            <!-- <div>
                <input [(ngModel)]="currentSmallGroup.room" placeholder="장소"/>
            </div> -->
            
    
            <!-- {{currentSmallGroup.name}}
            In Small Group
            <div *ngFor="let member of currentSmallGroup.members; let i = index" >
                {{member.name}} {{member.is_leader}} {{(smallGroupIdNameMap | async)[member.small_group_id]}} <button (click)="toggleLeader(member)">리더?</button> <button (click)="removeFromSmallGroup(member)">빼기</button>
            </div>
            <div *ngFor="let member of tmpCreatedMembers; let i = index" >
                {{member.name}} {{member.is_leader}} {{(smallGroupIdNameMap | async)[member.small_group_id]}} <button (click)="toggleLeader(member)">리더?</button> <button (click)="removeTmpMember(member)">빼기</button>
            </div>
            <div class="add-button" (click)="startTmpMemberForm()" *ngIf="tmpMemberName=== null">
                <mat-icon class="add-icon">add_circle</mat-icon>
            </div>
            <div *ngIf="tmpMemberName !== null">
                <input placeholder="셀원 이름" [(ngModel)]="tmpMemberName"/>
                <button (click)="addTmpMember()">등록하기</button>
            </div>
            <button (click)="submitSmallGroupUpdate()">저장 및 업데이트</button> -->
    
        </div>
    </div>
</app-admin-content-area>