<mat-toolbar 
    class="web-toolbar" >

    <div fxLayout="row" fxLayoutAlign="start center" class="web-menu-wrapper" >
        <mat-icon (click)="modalService.openModal(sidebarComponent, '교회 정보')" appPreventContextMenu *ngIf="!hasBackPage; else backIcon" >
            info_outline
        </mat-icon>
        <ng-template #backIcon>
            <mat-icon (click)="goBack()" appPreventContextMenu style="color:#333333">
                arrow_back
            </mat-icon>
        </ng-template>
    </div>

    <div class="top-bar-route-name" fxLayout="row" fxLayoutAlign="center center" appPreventContextMenu 
        *ngIf="showDateRoutes.includes(currentRouteName);else searchBarRoute">
            {{date | async}}
    </div>
    <ng-template #searchBarRoute>
        <app-search-bar *ngIf="currentRouteName === showSearchBarRoute; else nameRoutes"></app-search-bar>
    </ng-template>
    <ng-template #nameRoutes>
        <div class="top-bar-route-name" fxLayout="row" fxLayoutAlign="center center" appPreventContextMenu 
        *ngIf="showSearchBarRoute !== currentRouteName" >
            {{navItemMap.get('/' + currentRouteName)}}
        </div>
    </ng-template>
    
    <div fxLayout="row" fxLayoutAlign="end center" class="web-menu-wrapper" *ngIf="currentRouteName !== showSearchBarRoute && currentRouteName !== 'search' && !hideRightIconRoutes.includes(currentRouteName); else notificationRoute" appPreventContextMenu routerLink="search">
        <mat-icon class="menu" style="color:#555">
            search
        </mat-icon>
    </div>
    <ng-template #notificationRoute>
        <div fxLayout="row" fxLayoutAlign="end center" class="web-menu-wrapper" *ngIf="!hideRightIconRoutes.includes(currentRouteName); else nothingRoute" appPreventContextMenu >
            <mat-icon class="menu" style="color:var(--secondary-color);" (click)="notReady()">
                notifications_outline
            </mat-icon>
        </div>
    </ng-template>
    <ng-template #nothingRoute>
        <div fxLayout="row" fxLayoutAlign="end center" class="web-menu-wrapper" appPreventContextMenu >
            <mat-icon class="menu" style="color:transparent;">
                notifications_outline
            </mat-icon>
        </div>
    </ng-template>
</mat-toolbar> 