<mat-toolbar 
    class="web-toolbar" 
    [ngClass]="screenSizeClass"
    (mouseenter)="updateHoverStatus(true)"
    (mouseleave)="updateHoverStatus(false)" >
    <div fxLayout="row" fxLayoutAlign="start center" class="web-menu-wrapper" >
        <mat-icon (click)="modalService.openModal(sidebarComponent, '메뉴')" appPreventContextMenu style="color:var(--secondary-color)" fxHide.gt-sm *ngIf="!hasParam; else backIcon">
            menu
        </mat-icon>
        <ng-template #backIcon>
            <mat-icon (click)="goBack()" appPreventContextMenu style="color:var(--secondary-color)" fxHide.gt-sm>
                arrow_back
            </mat-icon>
        </ng-template>
    </div>

    <div class="top-bar-route-name" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-sm appPreventContextMenu *ngIf="currentRouteName != ''&& currentRouteName != 'search'; else searchBar">
        {{navItemMap.get('/' + currentRouteName)}}
    </div>
    <ng-template #searchBar>
        <app-search-bar fxHide.gt-sm></app-search-bar>
    </ng-template>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.lt-md >
        <div class="web-toolbar-spacer"></div>
            <div class="web-menu-wrapper web-nav-item"
                [routerLink]='"/"'
                fxLayout="row" fxLayoutAlign="center center">
                <a mat-icon-button>  
                    <img routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}"
                        src="assets/his-logo-white.png" 
                        alt="Logo" 
                        class="home-logo" fxFlex appPreventContextMenu/>
                </a>
            </div>
        <div class="web-toolbar-spacer"></div>
        <ng-container *ngFor="let navItem of webNavItems">
            <div class="web-toolbar-spacer"></div>
            <div class="web-menu-wrapper web-nav-item"
                [routerLink]="navItem.route"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}"
                fxLayout="row" fxLayoutAlign="center center">
                <a mat-icon-button>  
                    <div appPreventContextMenu 
                         *ngIf="navItem.label !== 'Login'; else loginButton">{{navItem.label}}</div>
                    <ng-template #loginButton>
                        <div appPreventContextMenu 
                          class="login-button">{{navItem.label}}</div>
                    </ng-template>
                </a>
            </div>
            <div class="web-toolbar-spacer"></div>
        </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="web-menu-wrapper" appPreventContextMenu >
        <mat-icon class="menu" style="color:var(--secondary-color)" fxHide.gt-sm>
            notifications
            <!-- login -->
        </mat-icon>
    </div>
</mat-toolbar> 