<mat-toolbar 

    class="web-toolbar" 
    [ngClass]="screenSizeClass"
    (mouseenter)="updateHoverStatus(true)"
    (mouseleave)="updateHoverStatus(false)" >

    <div fxLayout="row" fxLayoutAlign="start center" class="web-menu-wrapper">
        <!-- <img fxHide.gt-sm src="assets/his-logo-white.png" alt="Logo" class="logo" fxFlex /> -->
        <!-- <img src="assets/his-logo-white.png" alt="Logo" class="mobile-logo" fxFlex fxHide.gt-sm/> -->
        <!-- <img src="assets/his-logo-white.png" alt="Logo" class="logo" fxFlex/> -->
        <mat-icon class="account" appPreventContextMenu>
            person
        </mat-icon>
        <!-- <div class="top-bar-route-name" fxHide.gt-sm>
            {{navItemMap.get("/" + currentRouteName)}}
        </div> -->
    </div>
    <div class="top-bar-route-name" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-sm appPreventContextMenu>
        {{navItemMap.get("/" + currentRouteName)}}
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.lt-md >
        <div class="web-toolbar-spacer"></div>
            <div class="web-menu-wrapper web-nav-item"
                [routerLink]='"/"'
                fxLayout="row" fxLayoutAlign="center center">
                <a mat-icon-button>  
                    <img routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}"
                        src="assets/his-logo-white.png" 
                        alt="Logo" 
                        class="home-logo" fxFlex appPreventContextMenu/>
                </a>
            </div>
            <div class="web-toolbar-spacer"></div>
        <ng-container *ngFor="let navItem of webNavItems">
            <div class="web-toolbar-spacer"></div>
            <div class="web-menu-wrapper web-nav-item"
                [routerLink]="navItem.route"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}"
                fxLayout="row" fxLayoutAlign="center center">
                <a mat-icon-button>  
                    <div appPreventContextMenu>{{navItem.label}}</div>
                </a>
            </div>
            <div class="web-toolbar-spacer"></div>
        </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="web-menu-wrapper" appPreventContextMenu>
        <mat-icon class="menu">
            apps
        </mat-icon>
    </div>
</mat-toolbar>