// .content {
//     flex: 1;
//     padding-top: calc(var(--nav-height) + env(safe-area-inset-top));
//     padding-bottom: calc(var(--nav-height) + env(safe-area-inset-bottom));
//     transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
// }

// .content.large-screen {
//     padding-top: calc(var(--nav-height) * 1.2 + env(safe-area-inset-top));
//     padding-bottom: calc(var(--nav-height) * 1.2 + env(safe-area-inset-bottom));
// }

// .content.large-screen:hover {
//     padding-top: calc(var(--nav-height) * 1.2 * 1.2 + env(safe-area-inset-top));
//     padding-bottom: calc(var(--nav-height) * 1.2 * 1.2 + env(safe-area-inset-bottom));
// }



.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-spinner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    animation: spinner 0.7s infinite linear;
    opacity: 0.6;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  