<app-admin-top-navbar title="주보 관리">
    <span routerLink="/admin" (click)="routingService.showLoadingScreenForTime(1)"><mat-icon>arrow_back</mat-icon></span>
</app-admin-top-navbar>
<app-admin-content-area>
    <div class="bulletins-container" *ngIf="bulletins">
        <button class="create-button" routerLink='/admin/bulletin/create'>
            이번주 주보 작성
        </button>
        <div class="bulletin-item-container" *ngFor="let bulletin of bulletins" [routerLink]="'/admin/bulletin/' + bulletin.sunday_date">
            <span>{{bulletinService.pruneTitle(bulletin.sermon_title)}} </span>
            <span>{{bulletin.sunday_date}}</span>
        </div>
        
    </div>
</app-admin-content-area>

