<app-flex-item width="100%" alignItems="center" justifyContent="center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-flex-item width="100%" flexDirection="column">
            <div class="input-row" style="margin-bottom: 3em;"> 
                <label><span class="required">*</span> 는 필수 입력칸입니다.</label>
            </div>
            <div class="input-row"> 
                <label for="name">이름 <span class="required">*</span></label>
                <input class="text-input" id="name" type="text" formControlName="name">
            </div>
            <div class="input-row"> 
                <label>생년월일 <span class="required">*</span></label>
                <input class="text-input" matInput [matDatepicker]="birthdayPicker" formControlName="birthday" (focus)="birthdayPicker.open()" (click)="birthdayPicker.open()">
                <mat-datepicker #birthdayPicker [touchUi]="true"></mat-datepicker>
            </div>
            <div class="input-row">
                <label for="phone">미국전화번호 <span class="required">*</span></label>
                <input class="text-input" id="phone" type="tel" formControlName="phone">
            </div>
            <div *ngIf="form.controls['phone'].errors?.['pattern']" class="error-msg input-row">10자리 수 전화번호를 '-' 없이 입력해주세요 </div>
            
            <div class="input-row">
                <label for="email">이메일 <span class="required">*</span></label>
                <input class="text-input" id="email" type="email" formControlName="email">
            </div>
            <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" 
                class="error-msg input-row"> 
                이메일 형식이 아닙니다. 
            </div>
            
            <div class="input-row">       
                <label for="isSearching">교회를 찾고 계신가요? 
                    <!-- <span class="required">*</span> -->
                </label>
                <select formControlName="isSearching" id="isSearching">
                    <option *ngFor="let option of whyVisitOptions; index as i" [value]="i">{{ option }}</option>
                </select>
            </div>

            <div class="input-row"> 
                <label for="howVisit">어떻게 오셨나요? 
                    <!-- <span class="required">*</span> -->
                </label>
                <select formControlName="howVisit" id="howVisit">
                    <option *ngFor="let option of howVisitOptions; index as i" [value]="i">{{ option }}</option>
                </select>
            </div>
            <div class="input-row"> 
                <label for="whoIntroduced">인도자(지인) 이름</label>
                <input class="text-input" id="whoIntroduced" type="text" formControlName="whoIntroduced">
            </div>

            <div class="input-row">
                <label for="howLong">신앙 생활 기간 
                    <!-- <span class="required">*</span> -->
                </label>
                <select formControlName="howLong" id="howLong">
                    <option *ngFor="let option of howLongOptions; index as i" [value]="i">{{ option }}</option>
                </select>
            </div>

            <div class="input-row">
                <label for="isBaptized">세례 받음 
                    <!-- <span class="required">*</span> -->
                </label>
                <select formControlName="isBaptized" id="isBaptized">
                    <option *ngFor="let option of isBaptizedOptions; index as i" [value]="i">{{ option }}</option>
                </select>
            </div>

            

            <!-- <div class="input-row">
                <label for="dateOfVisit">등록일 <span class="required">*</span></label>
                <input id="dateOfVisit" class="text-input" matInput [matDatepicker]="visitDatePicker" formControlName="dateOfVisit" (focus)="visitDatePicker.open()" (click)="visitDatePicker.open()">
                <mat-datepicker #visitDatePicker [touchUi]="true"></mat-datepicker>
            </div> -->
            <!-- <div class="input-row"> 
                <label for="cellLeader">셀 리더 또는 새가족 담당자</label>
                <input class="text-input" id="cellLeader" type="text" formControlName="cellLeader">
            </div> -->

            <!-- <div class="input-row">
                <label for="memo">메모</label>
                <textarea id="memo" formControlName="memo"></textarea>
            </div> -->

            <!-- <div class="input-row">
                <button (click)="testFormValidity($event)"> 
                  폼 테스트
                </button>
              </div> -->
        </app-flex-item>
        <app-block style="text-align: center; margin-top: 1em; margin-bottom: 5em;">
            <div class="input-row">
       
                    <button type="submit" [disabled]="!form.valid" class="height: 3.5em; border: 2.5px solid var(--secondary-color); margin-top: 3em">
                        등록하기
                    </button>
          
            </div>
        </app-block>   
    </form>
</app-flex-item>

