
.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-item:focus {
    outline: none;
}


.img-container {
    width: 95%;
    height: 0;
    padding-bottom: 53%;
    position:relative;
    overflow:hidden;
    border-radius: 0.5em;
    margin-top: 1em;
    display: flex;
    // border: 2px solid var(--secondary-color);
}

.img-container img {
    position: absolute;
    top: -17%;
    left: 0;
    width: 100%;
    height: auto;
}

.list-area {
    max-width: 480px;
    margin: auto;
}

button {
    height: 4.5em;
    padding: 1em 1em 1em 1em;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--secondary-color);
    background-color: inherit;
    border-radius: 1em;
    color: var(--secondary-color);
    border-width: 2.5px;
    border-style: solid;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 480;
    margin-left: auto;
    margin-right: auto;
}

// .list-area {
//     overflow:auto;
//     -webkit-overflow-scrolling:touch;
//     height: var(--html-height);
// }