<div class="card image">
   <div class="carousel">
    <div class="slides">
      <div *ngFor="let image of images; let i = index" 
        class="slide" 
        [ngClass]="{ 'active': i === currentSlideIndex, 'previous': i === previousSlideIndex, 'next': i === nextSlideIndex }">
            <img [src]="image" class="slide-image" height="100%" style="position: absolute"/>
      </div>
    </div>
    <div class="indicators">
      <div *ngFor="let image of images; let i = index" 
           class="indicator" 
           [ngClass]="{ 'active': i === currentSlideIndex }" 
           (click)="currentSlideIndex = i"></div>
    </div>
  </div>
</div>