<input type="file" class="file-input" (change)="onFileChanged($event)" #fileUpload/>
<div class="profile-manager-area">

    <div class="file-upload" (click)="fileUpload.click()">
        <button class="load-file">
            <mat-icon>photo_camera</mat-icon>
        </button>
    </div>

    
    <div class="image-cropper-class" [ngClass]="{'not-uploaded':!fileName}">
        <div class="message" *ngIf="!fileName">
            카메라버튼을 눌러 이미지를 선택해주세요.
        </div>
        <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1"
        [resizeToWidth]="184"
        format="jpeg"
        (imageCropped)="onImageCropped($event)"
        (imageLoaded)="onImageLoaded()"
        (cropperReady)="onCropperReady()"
        (loadImageFailed)="onLoadImageFailed()"
        [ngClass]="{'not-uploaded':!fileName}"
    ></image-cropper>
    </div>
    
    
    <button (click)="uploadImage()">Done</button>
</div>
