.profile-manager-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-cropper-class {
    border: 2.5px solid var(--secondary-color);
    display: flex;
    width: 100%;
    border-radius: 0.5em;
    image-cropper {
        border-radius: 0.5em;
    }
    image-cropper.not-uploaded {
        display: none;
    }
    margin-bottom: 2em;
}

.message {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 700;
}

.image-cropper-class.not-uploaded {
    height: calc((var(--html-width) - 2em) / 16 * 9)
}


.file-input {
    display: none;
  }



.file-upload {
    display: flex;
    margin: auto;
    align-items: center;
}

.file-name {
    display: flex;
}



button.load-file {
    width: 70px;
    margin: auto;
    height: 70px;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

button {
    height: 4.5em;
    padding: 1em 1em 1em 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--secondary-color);
    background-color: inherit;
    border-radius: 0.5em;
    color: var(--secondary-color);
    border-width: 2.5px;
    border-style: solid;
    font-weight: 900;
    margin: auto;
    max-width: 600px;
    
}