<div class="poll-container">
    <div class="create-poll" *ngIf="admin && !showForm">
        <button class="important-button create-poll-button" (click)="showForm = !showForm">
            투표등록
        </button>
    </div>
    <form [formGroup]="form" *ngIf="form && showForm">
        <div class="field">
            <div class="labels">
                <label for="title">투표 제목</label>
            </div>
            <div class="inputs">
                <input id="title" [formControl]="castToFormControl(form.get('title'))" placeholder="제목" class="text-input"/>
            </div>
        </div>

        <div class="field">
            <div class="labels">
                <label>종료일 </label>
            </div>
            <div class="inputs">
                <input [formControl]="castToFormControl(form.get('end'))" class="text-input" matInput [matDatepicker]="EndPicker" (focus)="EndPicker.open()" (click)="EndPicker.open()">
                <mat-datepicker #EndPicker [touchUi]="true"></mat-datepicker>
            </div>
            
        </div>
        <div formArrayName="options" >
            <div class="labels">
                <label>선택지</label>
            </div>
            <div *ngFor="let optionsControl of options.controls let i = index">
              <div>
                  <div class="inputs">
                      <input id="option-{{ i }}" [formControl]="castToFormControl(optionsControl.get('title'))" placeholder="선택 {{i+1}}" class="text-input"/>                    
                      <mat-icon (click)="removeOption(i)" class="remove-button">close</mat-icon>
                  </div>
              </div>
            </div>
            <div class="add-button" (click)="addOption()">
              <mat-icon class="add-icon">add_circle</mat-icon>
            </div>
        </div>
        <ng-container>
            <button class="submit-button important-button" (click)="submitForm()">
                투표 등록하기
            </button>
        </ng-container>
    </form>
    <!-- (click)="postBulletin()" [disabled]="!form.valid" -->
    <div class="poll-area" *ngIf="allPolls">
        <div class="poll-box" *ngFor="let poll of allPolls">
            <div class="poll-title">
                {{poll.title}}
            </div>
            <div class="poll-options">
                <div class="poll-option-item" *ngFor="let option of poll.options | keyvalue; let i = index">
                    <div class="poll-option-item-bar">
                        <div class="option-label">
                            {{optionKeyToNum(option.key)}}.{{optionValueToTitle(option.value)}}
                        </div>
                        <div class="poll-option-item-progress"  [ngStyle]="{
                            
                        }">
                        
                        </div>
                    </div>
                    <div class="select-button-area" >
                        <button class="select-button" (click)="castVote(poll.id, option.key)">
                            선택
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    

