
:host {
    width: 100%;
    z-index: 10000;
}

.icon-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.web-toolbar {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    // justify-content: space-around;
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
    padding-top: env(safe-area-inset-top) !important;
    // height: calc(56px + env(safe-area-inset-bottom)) !important;
    height: var(--nav-height) !important;
    // background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background-color: var(--primary-color);
    justify-content: space-between;
    transition: height 0.2s ease-in-out;
    width: 100%;
    position:fixed;
}

// .web-toolbar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     // justify-content: space-around;
//     padding-left: env(safe-area-inset-left) !important;
//     padding-right: env(safe-area-inset-right) !important;
//     padding-top: env(safe-area-inset-top) !important;
//     // height: calc(56px + env(safe-area-inset-bottom)) !important;
//     height: var(--nav-height) !important;
//     // background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
//     background-color: var(--primary-color);
//     justify-content: space-between;
//     transition: height 0.2s ease-in-out;
// }

.web-toolbar.large-screen {
    height: calc(var(--nav-height) * 1.2) !important; 
}

.web-toolbar.large-screen:hover {
    height: calc(var(--nav-height) * 1.2 * 1.2) !important; 
}

.nav-container {
    height: 100% !important;
}

.mobile-logo {
    top: calc(env(safe-area-inset-top) + (var(--nav-height) - (var(--nav-height) * var(--nav-logo-ratio))) / 2) !important;
    height: calc(var(--nav-height) * var(--nav-logo-ratio));  
}

.mobile-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
    height: calc(var(--nav-height) + env(safe-area-inset-bottom)) !important;
    border-top: 0.5px solid #ddd;
    background-color: white;
}

.mobile-toolbar-spacer {
  flex: 1 1 auto;
}

.web-toolbar-spacer {
    flex: auto;
}

.web-menu-wrapper {
    display: inline-block;
    text-align: center;
    color: white;
    height: 100%;
    padding:0 1rem 0 1rem;
}

.web-menu-wrapper.web-nav-item {
    padding:0 3rem 0 3rem;
}

.web-menu-wrapper a {
    color: var(--secondary-color) ;
    font-weight: bold;
    transition: font-size 0.2s ease-in-out;
    font-size: small;
}

.web-menu-wrapper:hover a{
    cursor: pointer;
    font-size: larger;
    color: var(--secondary-color) ;
}

.web-menu-wrapper.active-link a{
    color: white !important;
    font-weight:bolder;
    font-size: larger;
}

.icon-wrapper {
    display: inline-block;
    text-align: center;
    color: var(--nav-item-color);
}

.icon-wrapper.active-link {
    color: var(--primary-color);
}

.icon-wrapper:active-link,.icon-wrapper:hover {
    color: var(--primary-color)
}

.icon-label {
display: block;
font-size: 0.6em;
font-weight: bold;
}


mat-button {
    background-color: transparent;
}

.hide-on-scroll {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
.hide-on-scroll.fade-out {
opacity: 0;
}

.hide-on-scroll.fade-in {
opacity: 1;
}
  

// @media (max-width: 768px) {
//   .bottom-nav {
//     display: flex;
//   }
// }
// @media (min-width: 768px) {
//   .web-toolbar {
//     height: calc(var(--nav-height) * 1.2);
//   }
// }
// mat-icon.menu{
//     font-size: xx-large;
// }
  
  