.bulletin{
    width: 100%;
    display: flex;
    
}

.bulletin-row {
    display:flex;
    max-width: 350px;
    margin: 0 auto 1.5rem;
}

.horizontal-label {
    font-size: 1.1rem;
    color: #555;
    font-weight: 700;
    flex: 0 0 50%;
    justify-content: center;
    align-items:flex-start;
    display: flex;
}

.horizontal-content {
    flex: 0 0 50%;
    justify-content: start;
    align-items: flex-start;
}

.sunday-date {
    text-align: center !important;
    font-size: 1rem;
    color: #555;
    font-weight: 700;
    margin-bottom: 1.5rem;

}

.bulletin-paper {
    text-align: center;
    width: 100%;
    margin:  3rem auto 5rem auto;
    padding: 0 0.75rem 0 0.75rem;
}

.title-area {
    width: 100%;
    position: sticky;
    top:0;
    border-bottom: 1px solid #ccc;
    margin-top: -1px;
    background-color: #ffffff;
}

.sermon-title {
    font-size: 1.7rem;
    font-weight: 800;
    padding: 0.5rem 0.5rem 0 0.5rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: center;

}

.sermon-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0 0 0;
    color: var(--secondary-color);
    font-weight: 700;
    // border-bottom: 1px solid #ddd;
}

.hymns {
    display:flex;
}

.hymn-list {
    display:block;
}

.hymn-item {
    display: block;
}

.news-list {
    display:block;
    margin: 2rem 0 2rem 0;
    text-align: left;
    border-left: 1px dotted #555;
    padding-left: 1rem;
}

.news-item {
    margin-bottom: 1rem;
}

.news-title {
    display:block;
    color: #555;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.news-description {
    display:block;
    margin-bottom: 2rem;
    
}