.no-new-member {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--secondary-color);
}

.new-member-container {
    display: flex;
    width: 100%;
    padding: 1.5em;
    flex-direction: column;
    max-width: 600px;
    margin: 2em auto 5em auto;
}

.new-member-row {
    display: flex;
    width : 100%;
    height: 50px;
}

.left, .right{
    display:flex;
    flex: 0 0 50%;
    align-items: center;
    
}

.left {
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 500;
    
}

.right {
    justify-content: flex-end;
}

.decline, .admit {
    border-radius: 1em;
    border: 2px solid var(--primary-color);
    height: 2.5em;
    font-weight: 700;
    padding: 0 0.75em 0 0.75em;
}

.admit {
    background-color: var(--secondary-color);
    color: white;
}

.decline {
    margin-left: 0.5em;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.admit-all {
    display: flex;
    width: 30%;
    margin: 2em auto 2em auto;
    height: 50px;
    color: white;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 1em;
    border: 2px solid var(--primary-color);


}