<app-admin-top-navbar title="새신자 수락">
    <span routerLink="/admin" (click)="routingService.showLoadingScreenForTime(1)"><mat-icon>arrow_back</mat-icon></span>
</app-admin-top-navbar>
<app-admin-content-area>
    <!-- <app-loading-screen mode="admin-container" [lastingTime]="30"></app-loading-screen> -->
    <app-loading-screen *ngIf="wait" [lastingTime]="30"></app-loading-screen>
    <div *ngIf="notAdmitted !== null && notAdmitted.length !== 0; else noNewMembers" class="new-member-container">
        <div *ngFor="let person of notAdmitted; let i=index" class="new-member-row">
            <div class="left"> {{person["attributes"]["name"]}}</div>
            <div class="right">
                <button class="admit" (click)="admitNewMember(person.id, i)">수락</button>
                <button class="decline" (click)="declineNewMember(person.id, i)">거절</button>
            </div>
            
        </div>
        <button class="admit-all" (click)="admitAllMembers()">전체등록</button>
    </div>
    <ng-template #noNewMembers>
        <div class="no-new-member">
            새신자가 없습니다
        </div>
    </ng-template>
</app-admin-content-area>
