


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$inland-his-primary: mat.define-palette(mat.$indigo-palette);
$inland-his-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$inland-his-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$inland-his-theme: mat.define-light-theme((
  color: (
    primary: $inland-his-primary,
    accent: $inland-his-accent,
    warn: $inland-his-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($inland-his-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

$carousel-indicator-width: 3px;
/* Add your global styles here */
/* Add your global styles here */
:root {
    --primary-color: #8a3dff;
    --secondary-color: #d4bfe0;
    --tertiary-color: #ede0ff;
    --other-color-1: #fff;
    --nav-item-color: #aaa;
    --nav-item-color-hover: #666;
    --nav-logo-ratio: 0.7;
    --nav-height: 56px;
}

app-root {
  min-height: 100vh;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(10, 10, 10);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: var(--secondary-color) !important;
  border-color: var(--other-color-1);
  border: 2px solid var(--other-color-1);
}



a {
  text-decoration: none;
}

html, body { 
  height: 100%; 
  overflow: hidden;
}

.ios-peek {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 50vh;
  background-color: white;
  width: 100vw;
}

.padded-background {
    padding-top: calc(var(--nav-height) + env(safe-area-inset-top));
    padding-bottom: calc(var(--nav-height) + env(safe-area-inset-bottom));
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.padded-background.large-screen {
  padding-top: calc(var(--nav-height) * 1.2 + env(safe-area-inset-top));
  padding-bottom: calc(var(--nav-height) * 1.2 + env(safe-area-inset-bottom));
}

.content {
  height: calc(100vh - calc(var(--nav-height) * 2 - env(safe-area-inset-bottom)) - env(safe-area-inset-top));
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.hide-scroll {
  overflow:hidden;
}

.content.large-screen {
  height: auto;
  flex: 1 1 auto;
}

.card.image {
  border: none;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  // touch-action: manipulation;
}

.modal-view {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: var(--html-height) !important;
  width: var(--html-width) !important;
  z-index: 10000;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

iframe {
  border-radius: 0.5em;
}

li {
  list-style: none;
}

.input-placeholder {
  display: inline-block;
  border: 1.5px dashed var(--secondary-color);
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 0.25em;
  background-color: transparent;
  color: var(--secondary-color);
}

.remove-input-placeholder {
  border: none;
  background: transparent;
  // font-size: 10px;
  cursor: pointer;
  outline: none;
  border-radius:50%;
  color: var(--secondary-color)
}

.note-btn.dropdown-toggle:after {
  content: none;
  }

.note-toolbar {
  background-color: #ffffff !important;
}



body {
  font-family: Roboto, sans-serif;
}

::ng-deep .sidebar-snackbar, ::ng-deep .custom-snackbar {
  height: 150px;
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar {
    --mdc-snackbar-supporting-text-color: var(--secondary-color);
    --mat-mdc-snack-bar-button-color: var(--secondary-color);
    --mat-mdc-button-persistent-ripple-color: white;

  }
  &.sidebar-snackbar {
    --mdc-snackbar-supporting-text-color: var(--secondary-color);
    --mat-mdc-snack-bar-button-color: var(--secondary-color);
    --mat-mdc-button-persistent-ripple-color: white;
    

  }
  
}

// .birthday mat-datepicker-content {
//   width: 100%;
//   max-width: 600px;
// }

.cdk-overlay-container {
  z-index: 1000000!important;
}

.cdk-overlay-pane.mat-datepicker-popup {
  left: auto !important;
  justify-self: center;
}

/* SCCS alternative */
.mat-calendar-body-active {
  .mat-calendar-body-today {
      color: white;
      background-color: rgb(114, 83, 148) !important;
  }
}

.mat-calendar-body-today {
  color: rgb(114, 83, 148);
  background-color: transparent;
  border: 1.5px solid rgb(114, 83, 148) !important;
  
}

.mat-calendar-body-selected {
  color: white;
  background-color: rgb(114, 83, 148);
}

/* CSS alternative */
// .mat-calendar-body-active > .mat-calendar-body-today {
//   color: white;
//       background-color: var(--secondary-color);
// }
// .material-icons-outlined,
// .material-icons.material-icons--outlined,
// .material-icons-two-tone,
// .material-icons.material-icons--two-tone,
// .material-icons-round,
// .material-icons.material-icons--round,
// .material-icons-sharp,
// .material-icons.material-icons--sharp {
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -webkit-font-feature-settings: 'liga';
//   -webkit-font-smoothing: antialiased;
// }

// .material-icons-outlined,
// .material-icons.material-icons--outlined {
//   font-family: 'Material Icons Outlined';
// }

// .material-icons-two-tone,
// .material-icons.material-icons--two-tone {
//   font-family: 'Material Icons Two Tone';
// }

// .material-icons-round,
// .material-icons.material-icons--round {
//   font-family: 'Material Icons Round';
// }

// .material-icons-sharp,
// .material-icons.material-icons--sharp {
//   font-family: 'Material Icons Sharp';
// }