<div class="video-player-area" >
    <div class="video-player" #videoPlayerRef>
        <div class="video-screen-area" 
            #videoPlaceholderRef 
            [ngStyle]="{
                'height': placeholderHeight
            }">
            <youtube-player 
                *ngIf="apiLoaded && videoId"
                [disableCookies]="true"
                [videoId]="videoId"
                [width]="videoWidth"
                [height]="videoHeight"
                [playerVars]="{
                    color: 'white',
                    rel: 0,
                    autoplay: 0,
                }">
                
            </youtube-player>
        </div>
    </div>
</div>