
<!-- <ng-template #loader> -->

<!-- </ng-template> -->
<div class="video-player-area" fxHide.lt-md>
    <youtube-player 
        *ngIf="apiLoaded && videoId && ready"
        [disableCookies]="true"
        [videoId]="videoId"
        [width]=640
        [height]=360
        [playerVars]="{
            color: 'white',
            rel: 0,
            autoplay: 0,
        }">
    </youtube-player>
</div>
<div class="video-player-area" fxHide.gt-sm>
    <div class="video-player" #videoPlayerRef [ngStyle]="{
        'border-color': borderColor,
        'border-width': borderWidth
    }">
        <div class="video-screen-area" 
            #videoPlaceholderRef 
            [ngStyle]="{
                'height': placeholderHeight,
            }">
            <youtube-player 
                *ngIf="apiLoaded && videoId && ready"
                [disableCookies]="true"
                [videoId]="videoId"
                [width]="videoWidth"
                [height]="videoHeight"
                [playerVars]="{
                    color: 'white',
                    rel: 0,
                    autoplay: 0,
                }">
                
            </youtube-player>
            
            <!-- <div class="placeholder" *ngIf="!ready">
                로딩중...
            </div> -->
            
        </div>
    </div>
</div>