:host {
    position: relative;
    width: 100%;

    
}

.video-player-area {
    width: 100%;
}

.video-player {
    width: 100%;
    background-color: white;
    border-radius: 0.5em;
    // border-color: #eee;
    border-style: solid;
    padding: 0.75em 0.75em 0.75em 0.75em;
    box-shadow: 0 0 0 rgb(0,0,0,0.1);
    border-width: 1px;
}

.video-screen-area {
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 0.5em;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}