.add-button {
    background-color: white;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 1em;
    border: 2.5px solid var(--primary-color);
    padding: 1em 0.5em 1em 0.5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.group-list-container {
    max-width: 600px;
    margin: auto;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

.group-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    border: 2.5px solid var(--primary-color);
    margin: 0.75em 0 0.75em 0;
}

.group-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em 1em 1.5em;
}

.small-group-name{
    font-size: 1.4em;
    color: var(--primary-color);
    font-weight: 700;
}

.small-group-room {
    font-size: 1.1em;
    color: var(--primary-color);
    font-weight: 700;
}





.group-members {
    width: 100%;
    display: flex;
    padding: 1em 1em 1em 1em;
    flex-wrap: wrap;
}

.member-item-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.member-item {
    display: flex;
    align-items: center;

}

.profile-image {
    margin-right: 0.5em;
}

.member-name {
    font-size: 1em;
    font-weight: 500;
    color: var(--primary-color);

}

.group-button-area {
    width: 100%;
    display: flex;
    padding: 1em 1em 1em 1em;
    justify-content: center;
}

.group-button {
    background-color: white;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 0.5em;
    border: 2.5px solid var(--primary-color);
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.add-input-field {
    margin-top: 2em;
}

.input-group-name, .input-group-room {
    background-color: white;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 1em;
    border: 2.5px solid var(--primary-color);
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
    margin-bottom: 1em;

}

.input-group-name::placeholder, .input-group-room::placeholder {
    color: var(--secondary-color)
}

.create-button {
    background-color: white;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 1em;
    border: 2.5px solid var(--primary-color);
    padding: 1em 0.5em 1em 0.5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}