<app-admin-top-navbar title="셀 멤버 배정">
    <span routerLink="/admin" (click)="routingService.showLoadingScreenForTime(1)"><mat-icon>arrow_back</mat-icon></span>
</app-admin-top-navbar>
<app-admin-content-area>
    <div class="group-list-container">
        <ng-container *ngFor="let smallGroup of smallGroups; let i = index">
            <div class="group-container" >
                <div class="group-info">
                    <span class="small-group-name">
                        {{smallGroup.name}}
                    </span>
                    <span class="small-group-room">
                        {{smallGroup.room}}
                    </span>
                </div>
                <div class="group-members">
                    <div *ngFor="let member of smallGroup.members">
                        <div class="member-item-wrapper">
                            <div class="member-item">
                                <img class="profile-image" [src]="smallGroupService.getProfilePhoto(member.id, profileImages)">
                                <span class="member-name">{{member.name}}</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="group-button-area">
                    <button (click)="routingService.showLoadingScreenForTime(1); goToSmallGroupSearchPage(smallGroup['id'])" class="group-button">{{smallGroup.name}} 수정하기</button>
                </div>
            </div>
        </ng-container>
        
        <div class="add-button" (click)="createForm()" *ngIf="form === null">
            셀 추가하기
        </div>
        <div *ngIf="form" class="add-input-field">
            <input class="input-group-name" placeholder="셀 이름" [(ngModel)]="form.smallGroupName"/>
            <input class="input-group-room" placeholder="셀 장소" [(ngModel)]="form.smallGroupRoom"/> 
            <button class="create-button" (click)="submitForm()">등록하기</button>
        </div>
        
    </div>
</app-admin-content-area>



<!-- <app-small-group-members-search></app-small-group-members-search> -->