
form {
    padding-top:5em;
    padding-bottom: 15em;
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
    max-width: 600px;

}

.add-button {
    background-color: white;
    outline-color: var(--primary-color);
    outline-style: solid;
    outline-width: 2px;
    border-radius: 0.25em;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    cursor: pointer;
    mat-icon {
        color: var(--primary-color)
    }
}

.add-button:hover {
    outline-color: var(--tertiary-color);
    // mat-icon {
    //     color: var(--tertiary-color)
    // }
}


input, textarea {
    width: 100%;
    outline-width: 2px;
    outline-color: var(--primary-color);
    outline-style: dashed;
    border-radius: 0.25em;
    border: none;
    
}

input::placeholder, textarea::placeholder {
    color: var(--primary-color);
    opacity: 0.7;
    
}

input:not(:placeholder-shown), textarea:not(:placeholder-shown) {
    outline-style: solid; /* Change the border color when there is a value */
}

input {
    height: 3em;
}

textarea {
    vertical-align: bottom;
    min-height: 6em;

}

textarea::-webkit-resizer {
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--tertiary-color) var(--tertiary-color) transparent;
  }
// textarea {
//     width: 100%;
// }

.inputs {
    position: relative;
    display:flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5em;
}

.labels {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--primary-color);
    margin-bottom: 0.3em;
}

.field {
    margin-bottom: 1.5em;
}

.remove-button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 20px;
    // ... any other styles
}

mat-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--primary-color);
    border-radius: 0.25em;
    margin-top:1em;
    height: 3em;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.half-button {
    display:flex;
    flex: 0 0 49%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-radius: 0.25em;
    margin-top:1em;
    height: 3em;
    background-color: transparent;
    color: var(--primary-color);

}

.submit-button:disabled {
    outline-style: dashed;
    outline-color: var(--tertiary-color);
    color: var(--tertiary-color);
    
}

